
    <header class="fixed-top">
      <div class="container">
            <div class="row">
                <div class="col-2 mt-4 logo">
                    AskPupkin
                </div>
                <div class="col-7">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-3">
                    <div class="row mt-4">
                        <div class="col-3 "><a href="#">log in</a></div>
                        <div class="col-3"><a href="#">register</a></div>
                    </div>

                </div>

            </div>


        </div>
    </header>