{% extends 'include/base.html' %}
{% load static %}

    {% block header %}
        {% include "include/header.html" %}
    {% endblock header %}
   
    {% block content_head %}
        <div class="row pageHead">
            <h4>Log in</h4>
        </div>
    {% endblock content_head %}
    {% block content %}
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="inputLogin " class="col-2 col-form-label">Login</label>
                    <div class="col-4">
                        <input type="login" class="form-control" id="loginInput"  placeholder="Enter login">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-2 col-form-label">Password</label>
                    <div class="col-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <button type="submit" class="btn btn-outline-dark btn-log_in">log in!</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class=" col-4">
                        <a href="#">create new account</a>
                    </div>
                </div>          
        </form>
                    </div>
                     {% endblock content %}
              